/* main.css */

/* PAS TOUCHER */
::-webkit-scrollbar {
    display: none;
}

html {
    -ms-overflow-style: none;  /* Internet Explorer 10+ */
    scrollbar-width: none;  /* Firefox */
}
/* PAS TOUCHER */

footer {
    margin-top: 0;
}

body {
    background-color: #f4f4f4;
    font-family: 'Arial', sans-serif;
    margin: 0;
    padding: 0;
}

.container {
    display: flex;
    height: 89vh;
    margin-left: 5vw;
    margin-right: 5vw;
    align-items: center;
    flex-direction: row-reverse;
}

#formColumn {
    flex: 1;
    background-color: white;
    padding: 0.75%;
    border-radius: 5%;
}

#mapColumn {
    flex: 2;
    height: 72vh;
}

h1 {
    color: #333;
    text-align: center;
    padding: 5%;
}

form {
    max-width: 100%;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 3%;
}

label {
    display: block;
    margin-bottom: 0.75%;
}

input,
textarea {
    width: 100%;
    padding: 0.75%;
    margin-top: 2%;
    margin-bottom: 2%;
    box-sizing: border-box;
}

form button {
    background-color: #4caf50;
    color: #fff;
    padding: 2.75%;
    border: none;
    border-radius: 20%;
    cursor: pointer;
}

.boutons {
    position: relative;
    transform: translateY(-10vh);
    padding: 10px;
    border-radius: 5px;
    width: 70%;
    display: flex;
    flex-direction: row;
    justify-content: center;
    z-index: 400;
    gap: 5%;
}

.boutons button {
    background-color: rgba(255, 255, 240, 0.8);
    border: 1px solid #000;
    padding: 10px;
    border-radius: 5px;
}

.boutons button:hover {
    background-color: #f4f4f4;
}

#map {
    height: 100%;
    width: 75%;
    border-radius: 5%;
}

div#\#form {
    display: flex;
    text-align: center;
    padding: 2%;
    width: 100%;
    justify-content: space-between;
}